<div class="container" id="index">
<div style="position:absolute;z-index:1;"><h2>Email:<%= currnet_user.email %><h2></div>
  <div class="row" id="mainContent">
    <div class="col-lg-12 header-sub-title">
      <h2>Dish Name</h2>
    </div>
    <div class="col-lg-12">
      <!-- <img src="http://placekitten.com/270/270"> -->
      <%= link_to image_tag("http://placekitten.com/270/270"), "http://localhost:3001/foods/1?photo=1" %>
    </div>
  </div>
</div>