
<div id="show" class="containter" data-nav="sub-nav">
  
  <nav class="navbar navbar-default" id="sub_nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header header-title">
       <a href="" class="back-btn"><i class="fa fa-arrow-left fa-2x left" aria-hidden="true"></i></a><h2 class="" style="display:inline;"><%= @main_photo_name %></h2>
      </div>
    </div>
  </nav>


  <div class="row" id="mainContent">
  <!-- ##### Navigation ##### -->

    <div class="col-lg-12">
      <!-- <img src="http://placekitten.com/270/270"> -->
      <%= image_tag(@main_photo_url,class: "main-image") %>
    </div>
    <ul class="col-lg-12 sub-image">
      <% @restaurant_photos_ordered.each do |photo|  %>
      <li><%= image_tag(photo.photo_url,:data => {:name => photo.food_name}) %></li>
      <% end %>
    </ul>

  </div>
</div>